:80 {
  encode gzip zstd

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    X-Frame-Options DENY
  }

  handle /api/* {
    reverse_proxy api:8000
  }

  handle {
    root * /srv/frontend
    try_files {path} /index.html
    file_server
  }
}
