{$YUKIT_SITE_ADDRESS::80} {
	encode gzip zstd
	request_body {
		max_size 2MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
